@import url("https://css.gg/trophy.css");
@import url("https://css.gg/c?=|loadbar-doc");

#loading {
  background: url("loader.gif") no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
}
.gg-info {
  --ggs: 50000;
}
body {
  background-color: #202124;
  background-image: url("black_matte.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

  a.landing {
    padding: 2vh !important;

#icons-container {
  background-color: #252629;
  align-items: center;
}
.LeftIcon {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 5px;
  align-items: center;
  border-radius: 5px;
  border-color: #121212;
  background-color: #121212;
  padding: 5px;
  opacity: 1;
}
.nav {
  background-color: #121212;
}

#DiveINButton {
  background-color: #0f52ba;
  color: whitesmoke;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  height: 50px;
  border-radius: 15px;
  border-color: black;
}
#DiveINButton:hover {
  border: 2px solid cyan;
  border-radius: 4px;
  background-color: black;
}
.navButtons {
  height: 50px;
  transition-duration: 0.3s;
  color: whitesmoke;
  padding: 10px;
  background-color: #121212;
  border: 2 px solid;
  border-color: #121212;
  font-family: "Poppins", "Montserrat";
  border-radius: 4px;
  margin: 0px;
}
.navButtons:hover {
  border-bottom: 4px solid cyan;
  border-radius: 4px;
}
#branding {
  padding-left: 200px;
  font-size: 22px;
}
#header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #121212;
  border-color: black;
  justify-content: space-between;
  color: whitesmoke;
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", "Work Sans", "Roboto", "Ubuntu";
  z-index: 1;
}
#MainBody {
  padding-left: 60px;
  padding-top: 70px;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  background-image: url(transparent.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  margin: 30px;
  padding: 30px;
  border-color: #030303;
  border-radius: 10px;
  color: #fffafa;
  background-color: #030303;
  font-size: 19px;
  line-height: 1.3;
  font-family: "Work Sans", "Ubuntu";
}
#LandingDiveIN {
  bottom: 90px;
  align-self: center;
  left: 32%;
  background-color: #0f52ba;
  font-size: 20px;
  line-height: 1.3;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Poppins", sans-serif;
  align-items: center;
  border-radius: 20px;
  opacity: 1;
  -moz-box-shadow: 2px 3px 5px 6px #000;
  -webkit-box-shadow: 2px 3px 5px 6px #000;
  box-shadow: 2px 3px 5px 6px #000;
}
#Home {
  background-color: #0f52ba;
}
#Logo {
  background-color: #252629;
}
#LeftNav {
  width: 70px;
  display: flex;
  position: fixed;
  left: 0px;
  background-color: #000000;
  flex-direction: column;
  top: 60px;
  z-index: 50;
  opacity: 0.9;
}
