body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.word {
    font-size: 36px;
    color: #fcf1c0;
    font-family: 'Orbitron', sans-serif;
    display: inline-block;
}

